{% extends 'base.html' %}

{% block content %}
<h1>Lista de Livros</h1>
<table class="table table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Autor</th>
            <th>Ano de Publicação</th>
            <th>Preço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        {% for book in books %}
        <tr>
            <td>{{ book[0] }}</td>
            <td>{{ book[1] }}</td>
            <td>{{ book[2] }}</td>
            <td>{{ book[3] }}</td>
            <td>{{ book[4] }}</td>
            <td>
                <a href="{{ url_for('update_book_price', book_id=book[0]) }}" class="btn btn-warning">Alterar Preço</a>
                <form action="{{ url_for('del_book', book_id=book[0]) }}" method="POST" style="display:inline;">
                    <button type="submit" class="btn btn-danger">Remover</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('add_new_book') }}" class="btn btn-primary">Adicionar Livro</a>
{% endblock %}
